body,
h1,
h2,
h4,
ul,
section,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1024px;
    height: 300vh;
    background: linear-gradient(180deg, rgba(63, 62, 62, 1) 0%,
            rgba(66, 66, 66, 1) 33%,
            rgba(116, 116, 116, 1) 100%);
}

@font-face {
    font-family: "Roboto";
    src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot");
    src: url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.eot?#iefix") format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff2") format("woff2"),
        url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.ttf") format("truetype"),
        url("//db.onlinewebfonts.com/t/0033a2fbc0329740fb86c1cfd134cb94.svg#Roboto") format("svg");
}

@media (max-width: 812px) {
    .droite {
        display: inline-block;
        vertical-align: top;
        font-size: 2vw;
        max-width: 45%;
    }

    .slide-inP,
    .slide-inPr,
    .slide-inE,
    .slide-inForm {
        max-width: 80%;
        left: calc(812px*0.5);
    }

}

h1,
h2,
h4,
.navigation,
#A-propos,
#Expériences,
#Projets {
    font-size: 1em;
    font-family: "Roboto", "Arial Narrow", Arial, sans-serif;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.navigation,
.gradient-text,
.desc,
.mail,
#A-propos,
#Expériences,
#Projets {
    background-color: rgb(255, 255, 255) !important;
    background-image: linear-gradient(180deg, #ffffff, #cccccc) !important;
    background-size: 100% !important;
    background-repeat: repeat !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    -moz-background-clip: text !important;
    -moz-text-fill-color: transparent !important;
}

h4 {
    max-block-size: 15%;
    position: fixed;
    font-style: bold;
    left: 25px;
}

.intro {
    min-height: fit-content;
    max-height: fit-content;
}

h1 {
    position: relative;
    top: 15px;
    font-size: calc(2vw + 1em);
}

h2 {
    position: relative;
    top: 25px;
    font-size: calc(1vw + 1em);
}

ul {
    list-style-type: none;
}

.navigation {
    position: relative;
    top: 50px;
    font-size: 2vw;
    max-height: 50%;
}

.social a {
    text-decoration: none;
}

.social {
    position: relative;
    top: 100px;
}

.haut-de-page {
    position: relative;
    top: 175px;
}

a:hover {
    color: rgb(0, 0, 0);
}

@media (hover: hover) {
    a:hover {
        background-color: rgb(255, 255, 255);
        background-image: linear-gradient(180deg, #686868, #323232);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
}

.droite {
    display: inline-block;
    vertical-align: top;
    font-size: 2vw;
    max-width: 45%;
}

#A-propos,
#Expériences,
#Projets,
.mail {
    left: 20%;
    position: relative;
}

#A-propos,
#Expériences,
#Projets {
    min-block-size: 10%;
}

.projets {
    width: 100%;
    display: flex;
}

.projetp {
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 25px;
}

.rect {
    width: 125px;
    height: 125px;
    background: white;
}

form {
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1vw;
    font-size: 2vw;
    font-family: "Roboto", "Arial Narrow", Arial, sans-serif;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

label {
    display: inline-block;
    width: auto;
    text-align: left;
}

input,
textarea {
    font-size: 1vw;
    font-family: "Roboto", "Arial Narrow", Arial, sans-serif;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

#button {
    font-family: "Roboto", "Arial Narrow", Arial, sans-serif;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

.slide-in {
    display: inline-block;
    position: fixed;
    margin-left: 25px;
    max-width: 45%;
    min-height: 500px;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.slide-in.active {
    transform: translateX(0%);
    opacity: 1;
}

.slide-inP,
.slide-inPr,
.slide-inE,
.slide-inForm {
    max-width: 80%;
    left: calc(1024px*0.66);
}

.slide-inP {
    position: relative;
    top: 25px;
    transform: translateX(50%);
    opacity: 0;
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.slide-inP.active {
    transform: translateX(0%);
    opacity: 1;
}

.slide-inE {
    position: relative;
    top: 25px;
    transform: translateX(50%);
    opacity: 0;
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.slide-inE.active {
    transform: translateX(0%);
    opacity: 1;
}

.slide-inPr {
    position: relative;
    top: 25px;
    transform: translateX(50%);
    opacity: 0;
    transition: transform 2s ease-in-out, opacity 2s ease-in-out;
}

.slide-inPr.active {
    transform: translateX(0%);
    opacity: 1;
}

.slide-inForm {
    position: relative;
    top: 25px;
    transform: translateX(50%);
    opacity: 0;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.slide-inForm.active {
    transform: translateX(0%);
    opacity: 1;
}