/* Appel éléments HTML
Par nom de balise
*/
h1 {
    font-size: 40px;
    font-style: bold;
    color: rgba(0, 0, 0)
}
h2 {
    font-style: bold;
    font-size: 25px;
    color: rgba(0, 0, 0)
}

/*Par classe*/
.Navigation {
    font-style: bold;
    font-size: 25px;
    color: rgb(255, 0, 0)
}

.Texte {
    font-style: normal;
    font-size: 25px;
    color: blue;
}

/*Par id*/
#titr-ss-para {
    transform: translateX(100px)
}